header{
    nav{
        ul{
            display: flex;
            gap: 25px;
            list-style: none;
            li{
                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}
.block1 .enfant1 h2{
    color: red;
}
.block1 .enfant2 h2{
    color: green;
}
.block2 .enfant3 h1{
    color: yellow;
}